body, html {
    height: 100%;
    margin:0;
    padding:0;
}


.bgimg{
    height:100%;
    background-position:center;
    background-size:cover;
    position:relative;
    color:#000000;
    font-family: Prime;
    

}

.middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    margin-left:14px;
    margin-top:40px;
}

h1 {
    font-size:43px;
    letter-spacing:20px;
    font-weight:100;
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-size:37px;
    letter-spacing:20px;
    font-weight:100;
    font-family: 'Kanit', sans-serif;
}



#demo {
    font-weight:lighter;
    word-spacing:20px;
}

hr{
    margin:auto;
     
    border: 1.5px solid;
    color:#66FCF1;
}

@media screen and (min-width: 630px) {
  .h1 {
    letter-spacing:20px;
  }
}


@media screen and (max-width: 631px) {
  .h1 {
    letter-spacing:17px;
  }
}

@media screen and (min-width: 630px) {
  .h2 {
    letter-spacing:17px;
  }
}


@media screen and (max-width: 631px) {
  .h2 {
    letter-spacing:25px;
  }
}

.timer {
  margin-right:33px;
}

.new-logo {
  width:200px;
  height:200px;
  
  margin-right:45px;
}

@media screen and (min-width: 630px) {
  .new-logo {
    letter-spacing:30px;
  }
}


@media screen and (max-width: 631px) {
  .new-logo {
    letter-spacing:25px;
     margin-right:20px
  }
}

@media screen and (min-width: 630px) {
  .middle {
    margin-top:60px;
  }
}


@media screen and (max-width: 631px) {
  .middle {
    margin-top:40px;
  }
}

@media screen and (min-width: 630px) {
.new-logo {
  width:200px;
  height:200px;
  
  
}
}


@media screen and (max-width: 631px) {
.new-logo {
  width:150px;
  height:150px;
  
  
}
}
